/* style.css */
.login-page {
    background: url("../../Components/Assets/background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-container {
    width: 100%;
    max-width: 420px; /* Limita a largura máxima do formulário */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
